.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #eee;
}

.navLinks{
    display: flex;
    flex-direction: row;
}

.navLink{
    padding-left: 2rem;
    padding-right: 2rem;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}