.counter{
 
    border-radius: 5px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
}

.botonMenos{
    margin-right: 10px;
    width: 25px;
    border-radius: 4px;
}

.botonMas{
    margin-left: 10px;
    width: 25px;
    border-radius: 4px;
}

.agregarCarrito{
    margin-top: 10px;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button{
    border: none;
    font: inherit;
    background-color: #0071e3;
    color: white;
}